<div class="jumbotron mb-0">
    <h1 class="display-4 logo">Northwind</h1>
    <p class="lead">We have the best prices and selection of high quality food &amp; beverages on the planet! Check out our featured discounts below.</p>
    <hr class="my-4">
    <p>For spectacular international quisine, look no further.</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button"><i class="fas fa-angle-double-right">Order now </i></a>
</div>

@section Scripts {
    <script type="text/javascript" src="/js/client.js"></script>
}

